/* Owen Williams 8932017 */

body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsla(285, 69%, 45%, 0.811);
}

h2{
    color: #f02;
    font-size: 2em;
}