/* Owen Williams 8932017 */

body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width: 99vw;
    height: 100vh;
    background-color: hsla(285, 69%, 45%, 0.811);
}

h2{
    color: #f02;
    font-size: 2em;
}

header{
    background-color: hsl(285, 64%, 28%);
}

main{
    float: left;
    width: 65vw;
    height: 60vh;
    background-color: hsl(45, 14%, 8%);
}

aside{
    float: right;
    width: 25vw;
    height: 60vh;
    background-color: hsl(355, 74%, 58%);
}

footer{
    clear: both;
    background-color: hsl(130, 45%, 78%);
}

.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

#para1{
    color: rgb(200, 200, 200);
}

#para2{
    color: rgb(244, 34, 165);
}

a:hover{
    color: #ab4;
}

footer p{
    font-size: .75em;
}